<strong>Olá, {{deliveryman}} </strong>
<p>Houve um cancelamento confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <small>
    Compareça a central de distribuição para realizar uma nova retirada
  </small>
</p>
