<strong>Olá, {{deliveryman}} </strong>
<p>Um novo produto está pronto para ser retirado:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br /><br />
  <small>
    >> Maiores detalhes estão disponíveis no aplicativo
  </small>
</p>
